<div class="footer-search">
    @*<div class="container">

        </div>*@
</div>
<section class="footer-part">
    <div class="container">
        <div class="row">


            <div class="col-md-4">
                <div class="info-part-three320">
                    <h4>Popular Articles</h4>
                    <div class="news-info209">
                        <h5>Why are the British confused</h5>
                        <p>(Why I darest say, they darest not get offended when they so ...</p> <small>July 16, 2017</small>
                    </div>
                    <div class="news-info209">
                        <h5>How to approach applying for</h5>
                        <p>(Im trying to find my career trajectory. Its a good cozy ...</p> <small>July 16, 2017</small>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="info-part-two320">
                    <h4>Quick Links</h4>
                    <a href="/">
                        <p>-Home</p>
                    </a>
                    <a href="#">
                        <p>-Posts</p>
                    </a>
                    <a href="/login">
                        <p>-Login</p>
                    </a>
                    <a href="#">
                        <p>-Page</p>
                    </a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="info-part-four320">
                    <h4>Latest Tweets</h4>
                    <div class="tweet-details29">
                        <p>
                            <i aria-hidden="true"></i><a href="#">
                                codeThemesCheck a new update #AskMe #ThemeForest #WordPress #2code #Envato#2code

                            </a>
                        </p> <small>about 2 weeks ago</small>
                    </div>
                    <div class="tweet-details29">
                        <p>
                            <i aria-hidden="true"></i><a href="#">
                                codeThemesCheck a new update #AskMe #ThemeForest #WordPress #2code #Envato#2code

                            </a>
                        </p> <small>about 2 weeks ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-social">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright 2033 #BlogHub | <strong>HardCore</strong></p>
            </div>

        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/npm.js"></script>