body {
    background: -webkit-linear-gradient(left, #ff6652, #ff7d51);
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.text-red {
    color: red;
    font-size: 15px;
}

.left-user12923-repeat {
    margin-top: 18px;
}

.left-user12923 .fa-check {
    font-size: 40px;
    margin-top: 10px;
    padding-left: 5px;
    color: green;
}

.left-user12923 .fa-times {
    font-size: 40px;
    margin-top: 10px;
    padding-left: 5px;
    color: red;
}

.left-user12923 img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.question-type2033 {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 13px -3px #777;
    box-shadow: 0px 0px 13px -3px #777;
}


#tab1:checked ~ #content1 {
    display: block;
}

.profile-img {
    text-align: center;
}

    .profile-img img {
        width: 70%;
        height: 100%;
    }

    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin-bottom: 5px;
    background:white;
}

.profile-log-btn {
    border: none;
    border-radius: 1.5rem;
    width: 60%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    margin-top: 15px;
    margin-top: 15px;
    margin-left: 5px;
}

.profile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

    .profile-rating span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

    .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

    .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }

    .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }

    .profile-work ul {
        list-style: none;
    }

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}
